name: Deploy to Azure VM

on:
  push:
    branches: main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/my-image:${{ github.sha }}

    - name: Install SSH client
      run: sudo apt-get install -y ssh

    - name: Deploy to Azure VM
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.AZURE_VM_IP }}
        username: ${{ secrets.AZURE_VM_USERNAME }}
        key: ${{ secrets.AZURE_VM_SSH_KEY }}
        port: ${{ secrets.AZURE_VM_SSH_PORT }}
        script: |
          sudo docker stop my-container || true
          sudo rm my-container || true
          sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-image:${{ github.sha }}
          docker run -d -p 80:80 --name my-container ${{ secrets.DOCKERHUB_USERNAME }}/my-image:${{ github.sha }}
